.list-group-item {
  cursor: pointer;
}

.navbar {
  margin-bottom: 20px;
}

.create-new-event-button {
  margin-top: 10px;
}

.session-details-card {
  margin: 20px 0;
}

.card {
  border-radius: 0;
}

body {
  margin-bottom: 20px;
}

.session-card-button {
  width: 46%;
  margin: 0% 2%;
}

.participant-count-badge {
  display: inline-block;
  position: absolute;
  padding-right: 0.6em;
  padding-left: 0.6em;
  right: 1.6em;
}
